<HEAD>
<Title>Chomp</title>

<SCRIPT LANGUAGE="JavaScript">
var blank = "blank.gif";
var brown = "brown.jpeg";
var poison = "poison.jpeg";

var c=7;                //c = # columns.  Require 6 <= c <= 10.
var x,y;
var 
ppos=[1,12,23,34,45,56,113,122,224,235,246,336,355,1114,1125,1133,1222,2226,2255,2335];
    
var n = [];
var box = [];

for (var i=1;i<=4;i++) {
    box[i]=[];
}

function yourChoice(u,v) {
    if (box[u][v]==1) {
        Move(u,v);
	encode();
	if (n[1]+n[2]==1) {
	    alert("Die Türe öffnet sich!");
	    return;
	}
	x=findMove();
	Move(x,y+1);
	if (box[1][2]+box[2][1]==0) alert("Die Türe bleibt verschlossen.");
    }    
}

function Move(x,y) {
    for (var k1=x;k1<=4;k1++) {
	for (var k2=y;k2<=c;k2++) {
            document.images[(4-k1)*c+k2-1].src=blank;
	    box[k1][k2]=0;
        }
    }
}

function encode() {               //maps position into n[1],n[2],n[3],n[4]
    for (var i=1;i<5;i++) {
        n[i]=0;
	for (var j=1;j<=c;j++) {
	    n[i]=n[i]+box[i][j];
	}
    }
    n[1]=n[1]+1;
}

function findMove() {
    var t=10
    var k=ppos.length-1;
    for (y=n[1]-1;y>=n[2];y--) {
        val=y+t*(n[2]+t*(n[3]+t*n[4]));
	while (val<ppos[k]) k--;
	if (val==ppos[k]) {return 1};
    }
    for (y=n[2]-1;y>=n[3];y--) {
        val=n[1]+t*(y+t*(n[3]+t*n[4]));
	while (val<ppos[k]) k--;
	if (val==ppos[k]) {return 2};
        val=y+t*(y+t*(n[3]+t*n[4]));
	while (val<ppos[k]) k--;
	if (val==ppos[k]) {return 1};
    }
    for (y=n[3]-1;y>=n[4];y--) {
        val=n[1]+t*(n[2]+t*(y+t*n[4]));
	while (val<ppos[k]) k--;
	if (val==ppos[k]) {return 3};
        val=n[1]+t*(y+t*(y+t*n[4]));
	while (val<ppos[k]) k--;
	if (val==ppos[k]) {return 2};
        val=y+t*(y+t*(y+t*n[4]));
	while (val<ppos[k]) k--;
	if (val==ppos[k]) {return 1};
    }
    for (y=n[4]-1;y>=0;y--) {
        val=n[1]+t*(n[2]+t*(n[3]+t*y));
	while (val<ppos[k]) k--;
	if (val==ppos[k]) {return 4};
        val=n[1]+t*(n[2]+t*(y+t*y));
	while (val<ppos[k]) k--;
	if (val==ppos[k]) {return 3};
        val=n[1]+t*(y+t*(y+t*y));
	while (val<ppos[k]) k--;
	if (val==ppos[k]) {return 2};
        val=y+t*(y+t*(y+t*y));
	while (val<ppos[k]) k--;
	if (val==ppos[k]) {return 1};
    }
   if ((Math.random()>.4) && (n[4]>0)) {
       y=n[4]-1;
       return 4;
   } else if ((Math.random()>.5) && (n[3]>0)) {
       y=n[3]-1;
       return 3;
   } else if ((Math.random()>.67) && (n[2]>0)) {
       y=n[2]-1;
       return 2;
   } else {
       y=n[1]-1;
       return 1;
   }
}

function playAgain() {
    for (var i=4;i>0;i--) {
	for (var j=1;j<=c;j++) {
	    document.images[c*(i-1)+j-1].src= brown;
	    box[i][j]=1
	}
    }
    document.images[c*3].src= poison;
    box[1][1]=0;
}

</script>
</HEAD>

<BODY>

<center>
Die kaum erkennbaren Linien auf der Türe formen ein Gitternetz. Werden die einzelnen Zellen berührt, verfärben sie sich.


<SCRIPT LANGUAGE="JavaScript">

document.write("<form name=game><table border=1 cellpadding=0 cellspacing=0><tr>");
for (var i=4;i>0;i--) {
    for (var j=1;j<=c;j++) {
        document.write('<td><a href="javascript:yourChoice('+i+','+j+')">'
        +'<img src="brown.jpeg" border=0 height=40 width=40></a></td>');
    }
    document.write("</tr><tr>");
}
document.write("</tr></table>");
document.write("<input type=button value='Neuer Versuch' onClick='playAgain();'>");
document.write("</form><p>");
playAgain();

</script>

</body>
</html>

